/* BEGIN FOOTER STYLES */

footer {
    background-color: #010059;
    color: #eee;
    font-size: 12px;
  
    .container-fluid {
      height: 150px;
  
      p {
        margin: 0;
      }
    }
  }
  
  .icon-row {
    font-size: 24px;

    a {
      color: #eee;
      transition: 0.4s all;

      &:hover {
        color: lighten(#010059, 60);
      }
    }
  }


  /* END FOOTER STYLES */