/* BEGIN FOOTER STYLES */

footer {
    background-color: #010059;
    color: #eee;
    font-size: 12px;
  
    .container-fluid {
      height: 150px;
  
      p {
        margin: 0;
      }
    }
  }
  
  /* END FOOTER STYLES */