
.lunarian {
    background-color: #ff9ff0;
    color: #333;
    padding: 10px;
    width: 100%;
    margin-bottom: 25px;
}

.grand-master {
    background-color: #57c2ff;
    color: #333;
    padding: 10px;
    width: 100%;
    margin-bottom: 25px;
}

.master {
    background-color: #68df98;
    color: #333;
    padding: 10px;
    width: 100%;
    margin-bottom: 25px;
    h2 {
        overflow: hidden;
    }
}

.gold {
    background-color: #e4c17c;
    color: #333;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 25px;
}

.silver {
    background-color: #b4b9bf;
    color: #333;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 25px;
}

.bronze {
    background-color: #d6a59a;
    color: #333;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 25px;
}