<h1 class="text-center press-start">Z-SCORE LEADERBOARD</h1>
<div class="container">
    <div class="row">
        <div class="col sm-12 board-header">
            <p class="text-center">Minimum 10 racers per race to qualify</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p class="text-center">
                Last 7 days
            </p>
        </div>
        <div class="col-sm-4">
            <p class="text-center">
                Last 30 days
            </p>
        </div>
        <div class="col-sm-4">
            <p class="text-center">
                All Time
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Racer</th>
                        <th scope="col">Date Recorded</th>
                        <th scope="col">Z-Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let result of data[selected]; index as i">
                        <td>{{ i + 1 }}</td>
                        <td>{{ result.name }}</td>
                        <td>{{ result.date }}</td>
                        <td>{{ result.zScore }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>