<main class="open-sans">
  <div *ngIf="stats" class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <p class="opening-stats">Popularity on SRL: <span class="audiowide"># {{ stats.game.popularityrank }}</span></p>
        <p class="opening-stats">Largest Race: <span class="audiowide">{{ stats.stats.largestRaceSize }}</span></p>
      </div>
      <div class="col-md-6 text-center">
        <p class="opening-stats">Total # of races: <span class="audiowide">{{ stats.stats.totalRaces }}</span></p>
        <p class="opening-stats">Total # of racers: <span class="audiowide">{{ stats.stats.totalPlayers }}</span></p>
      </div>
    </div>
  </div>
  <h2 class="text-center mt-5">Fastest Winning times</h2>
    <div *ngIf="allRaces" class="container">
        <div class="row">
            <div class="col-sm-3 mini-table">
                <p class="mini-table-header text-center">League Qualifiers</p>
                <div *ngFor="let num of numCount" class="mini-table-row d-flex justify-content-between">
                    <p>{{ racetypes.qual[num].results[0].player }}</p>
                    <p>{{ time.formatRaceTime(racetypes.qual[num].results[0].time) }}</p>
                </div>
            </div>
            <div class="col-sm-3 mini-table">
                <p class="mini-table-header text-center">League Ro.32</p>
                <div *ngFor="let num of numCount" class="mini-table-row d-flex justify-content-between">
                  <p>{{ racetypes.ro32[num].results[0].player }}</p>
                  <p>{{ time.formatRaceTime(racetypes.ro32[num].results[0].time) }}</p>
                </div>
            </div>
            <div class="col-sm-3 mini-table">
                <p class="mini-table-header text-center">League Ro.16</p>
                <div *ngFor="let num of numCount" class="mini-table-row d-flex justify-content-between">
                  <p>{{ racetypes.ro16[num].results[0].player }}</p>
                  <p>{{ time.formatRaceTime(racetypes.ro16[num].results[0].time) }}</p>
                </div>
            </div>
        </div>
    </div>
    <h2 class="press-start text-uppercase text-center mt-5">Community Races</h2>
    <p *ngIf="racetypes.community.length > 0" class="text-center">{{ racetypes.community.length }} Community Races on record</p>
    <p class="press-start text-center text-uppercase">Recent race summary</p>
    <div *ngIf="racetypes.community.length > 0" class="container community-container">
        <div class="row">
            <div class="col-md-12 community-header d-flex justify-content-center align-items-center p-2">
                <p class="m-0">Goal: {{ racetypes.community[0].goal }}</p>
            </div>
        </div>
        <table class="table-sm table-striped w-100 ">
            <thead>
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Racer</th>
                    <th scope="col">Time</th>
                    <th scope="col">Z-Score</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let result of racetypes.community[0].results; index as i">
                    <th scope="row" class="press-start">{{ i + 1 }}</th>
                    <td class="audiowide">
                      {{ result.player }}
                    </td>
                    <td class="press-start">
                        {{ result.time === -1 ? 'Forfeit' : time.formatRaceTime(result.time) }}
                    </td>
                    <td class="press-start" [ngClass]="{ 'positive-change': result.zScore < 0, 'negative-change': result.zScore > 0 }">{{ result.zScore | number:'1.0-3' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
