<main>
  <section>
    <h1>Statslol</h1>
    <div *ngIf="playerStats" class="sub-banner">
      <h1 class="audiowide">{{ playerStats.player.name}}</h1>
      <p class="audiowide">Rank: #{{ playerStats.stats.rank }}</p>
    </div>
    <div class="race-summary" *ngIf="playerStats">
      <div class="container">
        <div class="row time-rows">
          <div class="col-md-6 text-center">
            <p>Date of first race:</p>
            <h2>{{ playerStats.stats.firstRaceDate * 1000 | date }}</h2>
            <a *ngIf="playerStats.player.api == 'twitch' && playerStats.player.channel" href='http://twitch.tv/{{playerStats.player.channel}}' target="_blank"><button class="twitch-button mt-3">Twitch Channel</button></a>
          </div>
          <div class="col-md-6 text-center">
            <p>Total time played:</p>
            <h3 *ngIf="time.formatTotalTime(playerStats.stats.totalTimePlayed).days > 0">{{ time.formatTotalTime(playerStats.stats.totalTimePlayed).days }} days</h3>
            <h3 *ngIf="time.formatTotalTime(playerStats.stats.totalTimePlayed).hours > 0">{{ time.formatTotalTime(playerStats.stats.totalTimePlayed).hours }} hours</h3>
            <h3 *ngIf="time.formatTotalTime(playerStats.stats.totalTimePlayed).minutes > 0">{{ time.formatTotalTime(playerStats.stats.totalTimePlayed).minutes }} minutes</h3>
            <h3 *ngIf="time.formatTotalTime(playerStats.stats.totalTimePlayed).seconds > 0">{{ time.formatTotalTime(playerStats.stats.totalTimePlayed).seconds }} seconds</h3>
          </div>
        </div> <!-- end row -->
        <div class="row summary-margin">
          <div class="col-md-3 summary-left">
            <p>Total races</p>
            <h2 class="audiowide">{{ playerStats.stats.totalRaces }}</h2>
          </div> <!-- end total races column -->
          <div class="col-md-3 summary-mid">
							<div class="summary-row">
								<p>1st place finishes:</p>
								<p class="audiowide">{{ playerStats.stats.totalFirstPlace }}</p>
							</div>
							<div class="summary-row">
								<p>2nd place finishes:</p>
								<p class="audiowide">{{ playerStats.stats.totalSecondPlace }}</p>
							</div>
							<div class="summary-row">
								<p>3rd place finishes:</p>
								<p class="audiowide">{{ playerStats.stats.totalThirdPlace }}</p>
							</div>
							<div class="summary-row">
								<p>Forfeits:</p>
								<p class="audiowide">{{ playerStats.stats.totalQuits }}</p>
							</div>
            </div> <!-- end total finishes column -->
            <div class="col-md-6 summary-right">
              <div class="summary-row">
                <div class="progress">
                  <p><ngb-progressbar class="progress-test" showValue="true" [value]="roundTo1Place(playerStats.stats.totalFirstPlace / playerStats.stats.totalRaces)"></ngb-progressbar></p>
                </div>
              </div>
              <div class="summary-row">
                <div class="progress">
                  <p><ngb-progressbar showValue="true" [value]="roundTo1Place(playerStats.stats.totalSecondPlace / playerStats.stats.totalRaces)"></ngb-progressbar></p>
                </div>
              </div>
              <div class="summary-row">
                <div class="progress">
                  <p><ngb-progressbar showValue="true" [value]="roundTo1Place(playerStats.stats.totalThirdPlace / playerStats.stats.totalRaces)"></ngb-progressbar></p>
                </div>
              </div>
              <div class="summary-row">
                <div class="progress">
                  <p><ngb-progressbar showValue="true" type="danger" [value]="roundTo1Place(playerStats.stats.totalQuits / playerStats.stats.totalRaces)"></ngb-progressbar></p>
                </div>
              </div>
              <!-- <div class="summary-row">
                <div class="progress">
                  <div class="progress-bar silver-bg" role="progressbar" style="width: <?php echo getPercentOfTotal($overall_stats->stats->totalSecondPlace); ?>%;" aria-valuenow="<?php echo getPercentOfTotal($overall_stats->stats->totalSecondPlace); ?>"><?php echo getPercentOfTotal($overall_stats->stats->totalSecondPlace); ?>%</div>
                </div>
              </div>
              <div class="summary-row">
                <div class="progress">
                  <div class="progress-bar bronze-bg" role="progressbar" style="width: <?php echo getPercentOfTotal($overall_stats->stats->totalThirdPlace); ?>%;" aria-valuenow="<?php echo getPercentOfTotal($overall_stats->stats->totalThirdPlace); ?>"><?php echo getPercentOfTotal($overall_stats->stats->totalThirdPlace); ?>%</div>
                </div>
              </div>
              <div class="summary-row">
                <div class="progress">
                  <div class="progress-bar maroon-bg" role="progressbar" style="width: <?php echo getPercentOfTotal($overall_stats->stats->totalQuits); ?>%;" aria-valuenow="<?php echo getPercentOfTotal($overall_stats->stats->totalQuits); ?>"><?php echo getPercentOfTotal($overall_stats->stats->totalQuits); ?>%</div>
                </div>
              </div> -->
            </div>
        </div> <!-- end row -->
      </div> <!-- end container -->
    </div><!-- end race summary -->
  </section>
</main>