<main>
  <section class="open-sans">
    <h1>Statslol</h1>
    <div *ngIf="playerStats" class="sub-banner">
      <h1 class="audiowide">{{ playerStats.player.name}}</h1>
      <p class="audiowide">Rank: #{{ playerStats.stats.rank }}</p>
    </div>
    <div class="race-summary" *ngIf="playerStats">
      <div class="container">
        <div class="row time-rows">
          <div class="col-md-6 text-center">
            <p>Date of first race:</p>
            <h2>{{ playerStats.stats.firstRaceDate * 1000 | date }}</h2>
            <a *ngIf="playerStats.player.api == 'twitch' && playerStats.player.channel" href='http://twitch.tv/{{playerStats.player.channel}}' target="_blank"><button class="twitch-button mt-3">Twitch Channel</button></a>
          </div>
          <div class="col-md-6 text-center">
            <p>Total time played:</p>
            <h3 *ngIf="time.formatTotalTime(playerStats.stats.totalTimePlayed).days > 0">{{ time.formatTotalTime(playerStats.stats.totalTimePlayed).days }} days</h3>
            <h3 *ngIf="time.formatTotalTime(playerStats.stats.totalTimePlayed).hours > 0">{{ time.formatTotalTime(playerStats.stats.totalTimePlayed).hours }} hours</h3>
            <h3 *ngIf="time.formatTotalTime(playerStats.stats.totalTimePlayed).minutes > 0">{{ time.formatTotalTime(playerStats.stats.totalTimePlayed).minutes }} minutes</h3>
            <h3 *ngIf="time.formatTotalTime(playerStats.stats.totalTimePlayed).seconds > 0">{{ time.formatTotalTime(playerStats.stats.totalTimePlayed).seconds }} seconds</h3>
          </div>
        </div> <!-- end row -->
        <div class="row summary-margin">
          <div class="col-md-3 summary-left">
            <p>Total races</p>
            <h2 class="audiowide">{{ playerStats.stats.totalRaces }}</h2>
          </div> <!-- end total races column -->
          <div class="col-md-3 summary-mid">
							<div class="summary-row">
								<p>1st place finishes:</p>
								<p class="audiowide">{{ playerStats.stats.totalFirstPlace }}</p>
							</div>
							<div class="summary-row">
								<p>2nd place finishes:</p>
								<p class="audiowide">{{ playerStats.stats.totalSecondPlace }}</p>
							</div>
							<div class="summary-row">
								<p>3rd place finishes:</p>
								<p class="audiowide">{{ playerStats.stats.totalThirdPlace }}</p>
							</div>
							<div class="summary-row">
								<p>Forfeits:</p>
								<p class="audiowide">{{ playerStats.stats.totalQuits }}</p>
							</div>
            </div> <!-- end total finishes column -->
            <div class="col-md-6 summary-right">
              <div class="summary-row">
                <div class="progress">
                  <p><ngb-progressbar class="progress-test" showValue="true" [value]="roundTo1Place(playerStats.stats.totalFirstPlace / playerStats.stats.totalRaces)"></ngb-progressbar></p>
                </div>
              </div>
              <div class="summary-row">
                <div class="progress">
                  <p><ngb-progressbar showValue="true" [value]="roundTo1Place(playerStats.stats.totalSecondPlace / playerStats.stats.totalRaces)"></ngb-progressbar></p>
                </div>
              </div>
              <div class="summary-row">
                <div class="progress">
                  <p><ngb-progressbar showValue="true" [value]="roundTo1Place(playerStats.stats.totalThirdPlace / playerStats.stats.totalRaces)"></ngb-progressbar></p>
                </div>
              </div>
              <div class="summary-row">
                <div class="progress">
                  <p><ngb-progressbar showValue="true" type="danger" [value]="roundTo1Place(playerStats.stats.totalQuits / playerStats.stats.totalRaces)"></ngb-progressbar></p>
                </div>
              </div>
            </div> <!-- end progress bar column -->
        </div> <!-- end row -->
        <!--- Begin # of race in x days section -->
        <div class="row mb-5">
          <div class="col-md-4">
            <div class="p-3 x-days d-flex flex-column text-center">
              <p>Races in last 7 days</p>
              <h2 class="audiowide">{{ past7Days }}</h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="p-3 x-days d-flex flex-column text-center">
              <p>Races in last 14 days</p>
              <h2 class="audiowide">{{ past14Days }}</h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="p-3 x-days d-flex flex-column text-center">
              <p>Races in last 30 days</p>
              <h2 class="audiowide">{{ past30Days }}</h2>
            </div>
          </div>
          
        </div>
        <!--- End # of races in x days section -->
        <!-- begin win-loss section -->
					<h2 class="text-center mt-5">Win Loss record against other racers (Scrollable)</h2>

					<div class="row win-loss-row">
						<div class="col-sm-12">
						</div>
						<div *ngFor="let opponent of opponentWinLoss" class="col-sm-2 win-loss" [ngStyle]="{ 'background-color': 'rgb(0, 0, ' + (opponent.wins) / (opponent.wins + opponent.losses) * 200 + ')' }">
							<p class="audiowide">{{ opponent.name }}<span class="ml-1 badge" [ngClass]="{ 'badge-success': getRating(playerStats.player.name) > getRating(opponent.name), 'badge-danger': getRating(playerStats.player.name) < getRating(opponent.name) }">{{ getRating(opponent.name) }}</span></p>
							<p class="press-start">{{ opponent.wins }}-{{ opponent.losses }}</p>
						</div>
					</div>
					<!-- End win-loss section -->
      </div> <!-- end container -->
    </div><!-- end race summary -->
  </section>
</main>