<main>
  <section class="open-sans">
    <div class="ohnohoney">
        <h1 class="text-center" *ngIf="!playerStats">There are no stats for this player. Bummer.</h1>
    </div>
    
    <div *ngIf="playerStats" class="sub-banner">
      <h1 class="audiowide">{{ playerStats.player.name}}</h1>
      <p class="audiowide">Rank: #{{ playerStats.stats.rank }}</p>
    </div>
    <div class="race-summary" *ngIf="playerStats">
      <div class="container">
        <div class="row time-rows">
          <div class="col-md-6 text-center">
            <p>Date of first race:</p>
            <h2>{{ playerStats.stats.firstRaceDate * 1000 | date }}</h2>
            <a *ngIf="playerStats.player.api == 'twitch' && playerStats.player.channel" href='http://twitch.tv/{{playerStats.player.channel}}' target="_blank"><button class="twitch-button mt-3">Twitch Channel</button></a>
            <br><button class="default-button mt-3" (click)="setDefault()">Set as default</button>
            <br><button *ngIf="getDefault()" (click)="clearDefault()" class="clear-button mt-3">Remove as default</button>
          </div>
          <div class="col-md-6 text-center">
            <p>Total time played:</p>
            <h3 *ngIf="time.formatTotalTime(playerStats.stats.totalTimePlayed).days > 0">{{ time.formatTotalTime(playerStats.stats.totalTimePlayed).days }} days</h3>
            <h3 *ngIf="time.formatTotalTime(playerStats.stats.totalTimePlayed).hours > 0">{{ time.formatTotalTime(playerStats.stats.totalTimePlayed).hours }} hours</h3>
            <h3 *ngIf="time.formatTotalTime(playerStats.stats.totalTimePlayed).minutes > 0">{{ time.formatTotalTime(playerStats.stats.totalTimePlayed).minutes }} minutes</h3>
            <h3 *ngIf="time.formatTotalTime(playerStats.stats.totalTimePlayed).seconds > 0">{{ time.formatTotalTime(playerStats.stats.totalTimePlayed).seconds }} seconds</h3>
          </div>
        </div> <!-- end row -->
        <div class="row summary-margin">
          <div class="col-md-3 summary-left">
            <p>Total races</p>
            <h2 class="audiowide">{{ playerStats.stats.totalRaces }}</h2>
          </div> <!-- end total races column -->
          <div class="col-md-3 summary-mid">
							<div class="summary-row">
								<p>1st place finishes:</p>
								<p class="audiowide">{{ playerStats.stats.totalFirstPlace }}</p>
							</div>
							<div class="summary-row">
								<p>2nd place finishes:</p>
								<p class="audiowide">{{ playerStats.stats.totalSecondPlace }}</p>
							</div>
							<div class="summary-row">
								<p>3rd place finishes:</p>
								<p class="audiowide">{{ playerStats.stats.totalThirdPlace }}</p>
							</div>
							<div class="summary-row">
								<p>Forfeits:</p>
								<p class="audiowide">{{ playerStats.stats.totalQuits }}</p>
							</div>
            </div> <!-- end total finishes column -->
            <div class="col-md-6 summary-right">
              <div class="summary-row">
                <div class="progress">
                  <p><ngb-progressbar class="progress-test" showValue="true" [value]="roundTo1Place(playerStats.stats.totalFirstPlace / playerStats.stats.totalRaces)"></ngb-progressbar></p>
                </div>
              </div>
              <div class="summary-row">
                <div class="progress">
                  <p><ngb-progressbar showValue="true" [value]="roundTo1Place(playerStats.stats.totalSecondPlace / playerStats.stats.totalRaces)"></ngb-progressbar></p>
                </div>
              </div>
              <div class="summary-row">
                <div class="progress">
                  <p><ngb-progressbar showValue="true" [value]="roundTo1Place(playerStats.stats.totalThirdPlace / playerStats.stats.totalRaces)"></ngb-progressbar></p>
                </div>
              </div>
              <div class="summary-row">
                <div class="progress">
                  <p><ngb-progressbar showValue="true" type="danger" [value]="roundTo1Place(playerStats.stats.totalQuits / playerStats.stats.totalRaces)"></ngb-progressbar></p>
                </div>
              </div>
            </div> <!-- end progress bar column -->
        </div> <!-- end row -->
        <!--- Begin # of race in x days section -->
        <div class="row mb-5">
          <div class="col-md-4">
            <div class="p-3 x-days d-flex flex-column text-center">
              <p>Races in last 7 days</p>
              <h2 class="audiowide">{{ past7Days }}</h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="p-3 x-days d-flex flex-column text-center">
              <p>Races in last 14 days</p>
              <h2 class="audiowide">{{ past14Days }}</h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="p-3 x-days d-flex flex-column text-center">
              <p>Races in last 30 days</p>
              <h2 class="audiowide">{{ past30Days }}</h2>
            </div>
          </div>
          
        </div>
        <!--- End # of races in x days section -->
        <!-- begin win-loss section -->
        <h2 class="text-center mt-5">Win Loss record against other racers (Scrollable)</h2>

        <div class="row win-loss-row">
          <div class="col-sm-12">
          </div>
          <div *ngFor="let opponent of opponentWinLoss" class="col-sm-2 win-loss" [ngStyle]="{ 'background-color': 'rgb(0, 0, ' + (opponent.wins) / (opponent.wins + opponent.losses) * 200 + ')' }">
            <p class="audiowide">{{ opponent.name }}<span class="ml-1 badge" [ngClass]="{ 'badge-success': getRating(playerStats.player.name) > getRating(opponent.name), 'badge-danger': getRating(playerStats.player.name) < getRating(opponent.name) }">{{ getRating(opponent.name) }}</span></p>
            <p class="press-start">{{ opponent.wins }}-{{ opponent.losses }}</p>
          </div>
        </div>
        <!-- End win-loss section -->
        <!--- Begin Flag type section -->
        <div class="row">
            <div class="col-sm-4 mini-table mr-0">
              <p class="text-center mini-table-header">League Qualifiers</p>
              <div class="d-flex justify-content-between">
                <p>Best Time:</p> 
                <p>{{ time.formatRaceTime( racetypes.best.leagueQual ) }}</p>
              </div>
              <div class="d-flex justify-content-between">
                <p>Last 10 Avg:</p> 
                <p>{{ time.formatRaceTime( racetypes.avg.leagueQual ) }}</p>
              </div>
            </div>
            <div class="col-sm-4 mini-table mr-0">
              <p class="text-center mini-table-header">League Ro.32</p>
              <div class="d-flex justify-content-between">
                <p>Best Time:</p> 
                <p>{{ time.formatRaceTime( racetypes.best.leagueRo32 ) }}</p>
              </div>
              <div class="d-flex justify-content-between">
                <p>Last 10 Avg:</p> 
                <p>{{ time.formatRaceTime( racetypes.avg.leagueRo32 ) }}</p>
              </div>
            </div>
            <div class="col-sm-4 mini-table mr-0">
              <p class="text-center mini-table-header">League Ro.16</p>
              <div class="d-flex justify-content-between">
                <p>Best Time:</p> 
                <p>{{ time.formatRaceTime( racetypes.best.leagueRo16 ) }}</p>
              </div>
              <div class="d-flex justify-content-between">
                <p>Last 10 Avg:</p> 
                <p>{{ time.formatRaceTime( racetypes.avg.leagueRo16 ) }}</p>
              </div>
            </div>
          </div><!-- End flag type section -->
          <div class="row">
            <div class="col-sm-12">
              <h2 class="text-center text-uppercase press-start mt-5">SRL Rating Change Over Time</h2>
              <div class="chart-container">
                <ngx-charts-line-chart
                [scheme]="colorSchemeLine"
                [curve]="curveLine"
                [results]="lineData"
                [gradient]="gradientLine"
                [xAxis]="showXAxisLine"
                [yAxis]="showYAxisLine"
                [legend]="showLegendLine"
                [showXAxisLabel]="showXAxisLabelLine"
                [showYAxisLabel]="showYAxisLabelLine"
                [xAxisLabel]="xAxisLabelLine"
                [yAxisLabel]="yAxisLabelLine"
                [autoScale]="autoScaleLine"
                >
                </ngx-charts-line-chart>
              </div>
            </div>
            <div class="col-sm-12">
                <h2 class="text-center text-uppercase press-start mt-5">Z-score for last 20 races</h2>
                <p class="text-center">(Lower is better)</p>
                <div class="chart-container">
                    <ngx-charts-bar-vertical
                    [scheme]="colorSchemeLine"
                    [results]="barData"
                    [gradient]="gradientBar"
                    [xAxis]="showXAxisBar"
                    [yAxis]="showYAxisBar"
                    [legend]="showLegendBar"
                    [showXAxisLabel]="showXAxisLabelBar"
                    [showYAxisLabel]="showYAxisLabelBar"
                    [xAxisLabel]="xAxisLabelBar"
                    [yAxisLabel]="yAxisLabelBar">
                  </ngx-charts-bar-vertical>
                </div>
              </div>
          </div> <!-- end charts row -->
          <div class="row mt-5">
            <div class="col-sm-12">
              <h2 class="text-center">Recent Races</h2>
            </div>
            <div class="col-sm-12 d-flex flex-wrap justify-content-center">
              <div class="race-tag" (click)="switchRecent(i)" *ngFor="let race of recents; index as i" [ngClass]="{ 'active-tag': currentRecent === i }">
                <span>{{ i + 1 }}</span>
              </div>
            </div>
            <div id="race-data" *ngIf="recents.length > 0" class="w-100">
              <h2 class="past-race-header text-center mb-0">{{ recents[currentRecent].date * 1000 | date:'medium' }}</h2>
              <h2 class="past-race-header text-center">{{ recents[currentRecent].goal }}</h2>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Name</th>
                    <th scope="col">Expected Finish</th>
                    <th scope="col">Time</th>
                    <th scope="col">SRL Change</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let result of recents[currentRecent].results; index as ind" scope="row">
                    <td class="press-start">{{ ind + 1 }}</td>
                    <td class="audiowide">{{ result.player }}</td>
                    <td class="press-start" [ngClass]="{ 'positive-change': result.expectedFinish > result.place, 'negative-change': result.expectedFinish < result.place }">{{ result.expectedFinish }}</td>
                    <td class="press-start blue-highlight">{{ result.time === -1 ? 'Forfeit' : time.formatRaceTime(result.time) }}</td>
                    <td class="press-start">{{ result.oldtrueskill }} > <span *ngIf="result.trueskillchange > 0" [ngClass]="{ 'positive-change': result.trueskillchange > 0, 'negative-change': result.trueskillchange < 0 }">+</span><span [ngClass]="{ 'positive-change': result.trueskillchange > 0, 'negative-change': result.trueskillchange < 0 }">{{ result.trueskillchange }}</span> > {{ result.newtrueskill }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div> <!-- end container -->
      
      
    </div><!-- end race summary -->
  </section>
</main>