/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Audiowide|Open+Sans');

.press-start {
  font-family: 'Press Start 2P', cursive;
}

.audiowide {
  font-family: 'Audiowide', cursive;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}