/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Audiowide|Open+Sans');

.press-start {
  font-family: 'Press Start 2P', cursive;
}

.audiowide {
  font-family: 'Audiowide', cursive;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.mini-table {
  border: 2px solid #010065;
  margin-right: 8%;
  padding: 0 !important;

  p {
      margin-right: 5px;
      margin-left: 5px;
      margin-bottom: 5px;
      font-size: 12px;
  }

  .mini-table-header {
      background-color: #010065;
      color: #eee;
      margin: 0 0 10px;
  }
}

main {
  margin-top: 75px;
}
